body {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 55em;
}

.title {
  font-size: 2em;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.05em;
  color: #888;
}

.nav-link:hover {
  text-decoration: none;
  color: #333;
}

code {
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  transition: 0.2s;
  color: #50b2cf;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: normal;
  line-height: 1.6;
}

/* Inset, by Dan Eden */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}