body {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.center {
  display: block;
  margin: auto 0;
}

.footer {
  width: 100%;
  color: #CCCCCC;
  text-align: center;
  float: right;
  font-size: 0.8em;
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.container {
  max-width: 48em;
}

.title {
  font-size: 2em;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.05em;
  color: #888;
}

.nav-link:hover {
  text-decoration: none;
  color: #333;
}

code {
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  transition: 0.2s;
  color: #50b2cf;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: normal;
  line-height: 1.6;
}

/* Inset, by Dan Eden */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a.button-sq {
  display:inline-block;
  padding:0.35em 0.8em;
  border:0.1em solid #CCCCCC;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#888888;
  text-align:center;
  transition: all 0.2s;
  width: 100%;
}

a.button-sq:hover {
  color:#000000;
  border-color: #888888;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  a.button-sq {
    display:block;
    margin:0.4em auto;
 }
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
