<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    {% block head %}
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% assets "base_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <title>{% block title %}{% endblock %} | codebite.org</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row nav">
        <div class="col-4">
          <span class="title">Altan Haan</span>
        </div>
        <div class="col-3"></div>
        <div class="col-5">
          <div class="nav-links">
            <a class="nav-link" href="/index.md">Home</a>
            <a class="nav-link" href="/resume.md">Resume</a>
            <a class="nav-link" href="/projects.md">Projects</a>
            <a class="nav-link" href="/food.md">Food</a>
          </div>
        </div>
      </div>
      <hr>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>